In [508]:

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import datetime



import pytz
# Utilisation du module datetime
now =datetime.datetime.now()

In [509]:
df=pd.read_csv(r"C:\Users\podoG\Downloads\trades_history_btc.csv")

df = df.dropna(subset=['datetime'])
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime
0,1675164424534,2599691362,18016256435,22830.92,0.00066,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
1,1675164424534,2599691363,18016256435,22831.05,0.00064,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
2,1675164424534,2599691364,18016256435,22831.08,0.00100,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
3,1675164424534,2599691365,18016256435,22831.28,0.03032,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
4,1675205405138,2603428090,18037171280,23147.74,0.00064,0.000000e+00,BNB,True,False,2023-01-31 22:50:05
...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12

In [510]:

df.isna().sum()

timestamp           0
id                  0
order_id            0
price               0
qty                 0
commission          0
commission_asset    0
is_buyer            0
is_maker            0
datetime            0
dtype: int64

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         74 non-null     int64
 1   id                74 non-null     int64
 2   order_id          74 non-null     int64
 3   price             74 non-null     float64
 4   qty               74 non-null     float64
 5   commission        74 non-null     float64
 6   commission_asset  74 non-null     object
 7   is_buyer          74 non-null     bool
 8   is_maker          74 non-null     bool
 9   datetime          74 non-null     object
dtypes: bool(2), float64(3), int64(3), object(2)
memory usage: 5.3+ KB

In [512]:
df['direction'] = np.where(df['is_buyer'], -1, 1)
df = df.loc[df['id'] >= 3055669527]
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction
12,1679671967140,3055669527,20582103493,27910.05,0.03205,8.945171e-01,USDT,False,True,2023-03-24 15:32:47,1
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1
...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1

In [513]:
# CrÃ©er une colonne Wallet Ã  partir de qty et price
df['Wallet'] = df['qty'] * df['price']
df

C:\Users\podoG\AppData\Local\Temp\ipykernel_18324\113714582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wallet'] = df['qty'] * df['price']

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet
12,1679671967140,3055669527,20582103493,27910.05,0.03205,8.945171e-01,USDT,False,True,2023-03-24 15:32:47,1,894.517103
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772
...,...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745

In [514]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 12 to 73
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         62 non-null     int64
 1   id                62 non-null     int64
 2   order_id          62 non-null     int64
 3   price             62 non-null     float64
 4   qty               62 non-null     float64
 5   commission        62 non-null     float64
 6   commission_asset  62 non-null     object
 7   is_buyer          62 non-null     bool
 8   is_maker          62 non-null     bool
 9   datetime          62 non-null     object
 10  direction         62 non-null     int32
 11  Wallet            62 non-null     float64
dtypes: bool(2), float64(4), int32(1), int64(3), object(2)
memory usage: 5.2+ KB

In [515]:
# Initialisation pour la crÃ©ation d'un index de trade
current_trade_id = 0
current_trade_is_buyer = None

# Parcours du dataset
for index, row in df.iterrows():
    if row['is_buyer'] and current_trade_is_buyer != True:
        # Nouveau trade, on met Ã  jour l'ID et le sens de la transaction
        current_trade_id += 1
        current_trade_is_buyer = True
    elif not row['is_buyer'] and current_trade_is_buyer != False:
        # Fin du trade, on met Ã  jour le sens de la transaction
        current_trade_is_buyer = False
    # Ajout de l'ID unique pour le trade en cours
    df.loc[index, 'trade_id'] = current_trade_id

C:\Users\podoG\AppData\Local\Temp\ipykernel_18324\1100707956.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[index, 'trade_id'] = current_trade_id

In [516]:

df.drop(12, inplace=True)
df

C:\Users\podoG\AppData\Local\Temp\ipykernel_18324\3466815092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(12, inplace=True)

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0
17,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0

In [517]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 13 to 73
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         61 non-null     int64
 1   id                61 non-null     int64
 2   order_id          61 non-null     int64
 3   price             61 non-null     float64
 4   qty               61 non-null     float64
 5   commission        61 non-null     float64
 6   commission_asset  61 non-null     object
 7   is_buyer          61 non-null     bool
 8   is_maker          61 non-null     bool
 9   datetime          61 non-null     object
 10  direction         61 non-null     int32
 11  Wallet            61 non-null     float64
 12  trade_id          61 non-null     float64
dtypes: bool(2), float64(5), int32(1), int64(3), object(2)
memory usage: 5.6+ KB

In [518]:
df['trade_number'] = df.groupby('trade_id').cumcount() + 1
df['temp_profit'] = df['Wallet'] * df['direction']

df

C:\Users\podoG\AppData\Local\Temp\ipykernel_18324\2115697901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['trade_number'] = df.groupby('trade_id').cumcount() + 1
C:\Users\podoG\AppData\Local\Temp\ipykernel_18324\2115697901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp_profit'] = df['Wallet'] * df['direction']

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772
17,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0,2,-18.467994
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0,3,927.752522
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0,1,-908.589540
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0,2,-18.147594
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0,3,926.511745

In [519]:
df.groupby("trade_id")["temp_profit"].sum()

trade_id
1.0    -15.104367
2.0     45.536652
3.0     -0.909723
4.0      1.733582
5.0     -9.505281
6.0    -11.926022
7.0      2.145344
8.0     -2.803517
9.0     -0.108889
10.0     2.758022
11.0    31.914508
12.0    12.605594
13.0    -1.189219
14.0    -9.081181
15.0    -0.225389
Name: temp_profit, dtype: float64

In [520]:
profits = df.groupby("trade_id")["temp_profit"].sum().reset_index(name="profits")
df = df.merge(profits, on="trade_id")
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits
0,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432,-15.104367
1,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600,-15.104367
2,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130,-15.104367
3,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772,-15.104367
4,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973,-15.104367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0,2,-18.467994,-9.081181
57,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0,3,927.752522,-9.081181
58,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0,1,-908.589540,-0.225389
59,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0,2,-18.147594,-0.225389
60,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0,3,926.511745,-0.225389

In [521]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 60
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         61 non-null     int64
 1   id                61 non-null     int64
 2   order_id          61 non-null     int64
 3   price             61 non-null     float64
 4   qty               61 non-null     float64
 5   commission        61 non-null     float64
 6   commission_asset  61 non-null     object
 7   is_buyer          61 non-null     bool
 8   is_maker          61 non-null     bool
 9   datetime          61 non-null     object
 10  direction         61 non-null     int32
 11  Wallet            61 non-null     float64
 12  trade_id          61 non-null     float64
 13  trade_number      61 non-null     int64
 14  temp_profit       61 non-null     float64
 15  profits           61 non-null     float64
dtypes: bool(2), float64(7), int32(1), int64(4), object(2)
memory usage: 7.0+ KB

In [522]:
df["profits"] = df["profits"].drop_duplicates()
df=df.fillna(0)
df.head()

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits
0,1679705060369,3056431195,20588276078,27567.41,0.03242,0.000032,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432,-15.104367
1,1679936404645,3059762994,20618072666,27135.79,0.00038,0.010312,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600,0.000000
2,1679936404645,3059762995,20618072666,27135.79,0.00643,0.174483,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130,0.000000
3,1679936404645,3059762996,20618072666,27135.79,0.00642,0.174212,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772,0.000000
4,1679936404645,3059762997,20618072666,27135.78,0.00067,0.018181,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973,0.000000

In [523]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 60
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         61 non-null     int64
 1   id                61 non-null     int64
 2   order_id          61 non-null     int64
 3   price             61 non-null     float64
 4   qty               61 non-null     float64
 5   commission        61 non-null     float64
 6   commission_asset  61 non-null     object
 7   is_buyer          61 non-null     bool
 8   is_maker          61 non-null     bool
 9   datetime          61 non-null     object
 10  direction         61 non-null     int32
 11  Wallet            61 non-null     float64
 12  trade_id          61 non-null     float64
 13  trade_number      61 non-null     int64
 14  temp_profit       61 non-null     float64
 15  profits           61 non-null     float64
dtypes: bool(2), float64(7), int32(1), int64(4), object(2)
memory usage: 7.0+ KB

In [528]:
# Calcul de la somme des temp_profit avec direction = -1 pour chaque trade_id
temp_profit_sum = df.loc[df['direction'] == -1].groupby('trade_id')['temp_profit'].sum()

# Inverser le signe de la somme des temp_profit pour que le signe corresponde Ã  celui des profits
temp_profit_sum = -1 * temp_profit_sum

# Calcul de la colonne profits_ratio pour chaque trade_id
df['profits_ratio'] = df['profits'] / df['trade_id'].map(temp_profit_sum) * 100
df['temp_profit_sum']=df['trade_id'].map(temp_profit_sum)
# Affichage du DataFrame avec la colonne profits_ratio
df.head()

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits,profits_ratio,temp_profit_sum
0,1679705060369,3056431195,20588276078,27567.41,0.03242,0.000032,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432,-15.104367,-1.690027,893.735432
1,1679936404645,3059762994,20618072666,27135.79,0.00038,0.010312,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600,0.000000,0.000000,893.735432
2,1679936404645,3059762995,20618072666,27135.79,0.00643,0.174483,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130,0.000000,0.000000,893.735432
3,1679936404645,3059762996,20618072666,27135.79,0.00642,0.174212,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772,0.000000,0.000000,893.735432
4,1679936404645,3059762997,20618072666,27135.78,0.00067,0.018181,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973,0.000000,0.000000,893.735432

In [529]:
temp_profit_sum

trade_id
1.0     893.735432
2.0     877.376084
3.0     922.548989
4.0     920.304645
5.0     921.029910
6.0     910.666151
7.0     897.772308
8.0     898.993397
9.0     895.235040
10.0    894.220023
11.0    896.323312
12.0    927.044991
13.0    938.873777
14.0    936.833704
15.0    926.737134
Name: temp_profit, dtype: float64

In [530]:

df.isna().sum()

timestamp           0
id                  0
order_id            0
price               0
qty                 0
commission          0
commission_asset    0
is_buyer            0
is_maker            0
datetime            0
direction           0
Wallet              0
trade_id            0
trade_number        0
temp_profit         0
profits             0
profits_ratio       0
temp_profit_sum     0
dtype: int64

In [534]:
# Trouver les lignes oÃ¹ la valeur de la colonne timestamp est invalide
invalid_rows = df[~df['timestamp'].apply(lambda x: isinstance(x, int) and x > 0)]

# Afficher les lignes invalides
print(invalid_rows)

Empty DataFrame
Columns: [timestamp, id, order_id, price, qty, commission, commission_asset, is_buyer, is_maker, datetime, direction, Wallet, trade_id, trade_number, temp_profit, profits, profits_ratio, temp_profit_sum]
Index: []

In [536]:
# pour calculer le drawdown il nous faut l'historique du token sur la pÃ©riode Ã©quivalente
# -- Import --
import pandas as pd
from binance.client import Client
import ta
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# -- Define Binance Client --
client = Client()

# -- You can change the crypto pair ,the start date and the time interval below --
pairName = "BTCUSDT"
startDate = " 24 mars 2023"
timeInterval = Client.KLINE_INTERVAL_1HOUR



# -- Load all price data from binance API --
klinesT = client.get_historical_klines(pairName, timeInterval, startDate)





# -- Define your dataset --
df_h = pd.DataFrame(klinesT, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
df_h['close'] = pd.to_numeric(df_h['close'])
df_h['high'] = pd.to_numeric(df_h['high'])
df_h['low'] = pd.to_numeric(df_h['low'])
df_h['open'] = pd.to_numeric(df_h['open'])

# -- Set the date to index --

df_h['datetime']= pd.to_datetime(df_h.timestamp, unit='ms')

print("Data loaded 100%")

# -- Uncomment the line below if you want to check your price dataset --
df_h

Data loaded 100%

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore,datetime
0,1679616000000,28295.42,28374.30,28182.02,28195.30,2887.21044000,1679619599999,81696702.94330860,55358,1361.90716000,38542337.80235720,0,2023-03-24 00:00:00
1,1679619600000,28195.29,28318.80,28137.93,28253.00,2294.16851000,1679623199999,64796470.41189460,43247,1199.22863000,33870352.85455300,0,2023-03-24 01:00:00
2,1679623200000,28253.00,28309.99,28134.86,28186.28,2066.26067000,1679626799999,58366428.14922550,37281,889.81155000,25135233.48266430,0,2023-03-24 02:00:00
3,1679626800000,28186.28,28237.10,28158.40,28219.98,1572.69903000,1679630399999,44359314.47674330,30487,800.65146000,22581411.60296640,0,2023-03-24 03:00:00
4,1679630400000,28219.98,28254.48,28102.15,28130.41,2009.41868000,1679633999999,56646713.28924120,36868,943.61911000,26602825.20375980,0,2023-03-24 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,1681977600000,28869.66,28951.00,28729.00,28826.60,2350.40289000,1681981199999,67832288.34717230,43518,1145.95487000,33071718.75393980,0,2023-04-20 08:00:00
656,1681981200000,28826.61,28909.86,28822.13,28866.00,1363.64624000,1681984799999,39362725.06680200,29492,722.00792000,20841153.20868640,0,2023-04-20 09:00:00
657,1681984800000,28866.00,28906.50,28778.57,28855.22,1473.59453000,1681988399999,42491549.16752170,30411,680.11722000,19611588.16444260,0,2023-04-20 10:00:00
658,1681988400000,28855.23,28860.23,28590.00,28607.13,3549.75685000,1681991999999,101894612.03984300,62313,1526.50394000,43818202.54269230,0,2023-04-20 11:00:00
659,1681992000000,28607.12,28913.23,28334.00,28885.69,6395.46831000,1681995599999,183417021.82405150,106825,3182.89528000,91304914.82875590,0,2023-04-20 12:00:00

In [537]:
df.()

SyntaxError: invalid syntax (2291639526.py, line 1)

In [ ]:

df_h.head()

In [538]:


# Charger les deux dataframes
df1 = df
df2 = df_h

# ConcatÃ©ner les deux dataframes et trier par le timestamp
df = pd.concat([df1, df2], axis=0, sort=True).reset_index(drop=True)

# Afficher les 25 premiÃ¨res lignes triÃ©es par timestamp
df_sorted = df.sort_values(by='timestamp')
df_sorted.head()

,Wallet,close,close_time,commission,commission_asset,datetime,direction,high,id,ignore,...,quote_av,tb_base_av,tb_quote_av,temp_profit,temp_profit_sum,timestamp,trade_id,trade_number,trades,volume
61,NaN,28195.30,1.679620e+12,NaN,NaN,2023-03-24 00:00:00,NaN,28374.30,NaN,0,...,81696702.94330860,1361.90716000,38542337.80235720,NaN,NaN,1679616000000,NaN,NaN,55358.0,2887.21044000
62,NaN,28253.00,1.679623e+12,NaN,NaN,2023-03-24 01:00:00,NaN,28318.80,NaN,0,...,64796470.41189460,1199.22863000,33870352.85455300,NaN,NaN,1679619600000,NaN,NaN,43247.0,2294.16851000
63,NaN,28186.28,1.679627e+12,NaN,NaN,2023-03-24 02:00:00,NaN,28309.99,NaN,0,...,58366428.14922550,889.81155000,25135233.48266430,NaN,NaN,1679623200000,NaN,NaN,37281.0,2066.26067000
64,NaN,28219.98,1.679630e+12,NaN,NaN,2023-03-24 03:00:00,NaN,28237.10,NaN,0,...,44359314.47674330,800.65146000,22581411.60296640,NaN,NaN,1679626800000,NaN,NaN,30487.0,1572.69903000
65,NaN,28130.41,1.679634e+12,NaN,NaN,2023-03-24 04:00:00,NaN,28254.48,NaN,0,...,56646713.28924120,943.61911000,26602825.20375980,NaN,NaN,1679630400000,NaN,NaN,36868.0,2009.41868000

In [539]:
print(df_sorted.columns)

Index(['Wallet', 'close', 'close_time', 'commission', 'commission_asset',
       'datetime', 'direction', 'high', 'id', 'ignore', 'is_buyer', 'is_maker',
       'low', 'open', 'order_id', 'price', 'profits', 'profits_ratio', 'qty',
       'quote_av', 'tb_base_av', 'tb_quote_av', 'temp_profit',
       'temp_profit_sum', 'timestamp', 'trade_id', 'trade_number', 'trades',
       'volume'],
      dtype='object')

In [540]:
new_cols = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'id', 'order_id', 'price', 'qty', 'commission', 'commission_asset', 'is_buyer', 'is_maker', 'datetime', 'direction', 'Wallet', 'trade_id', 'trade_number', 'temp_profit', 'profits', 'profits_ratio']
df_sorted = df_sorted.reindex(columns=new_cols)

In [541]:
df_sorted

,timestamp,open,high,low,close,volume,id,order_id,price,qty,...,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits,profits_ratio
61,1679616000000,28295.42,28374.30,28182.02,28195.30,2887.21044000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-03-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,1679619600000,28195.29,28318.80,28137.93,28253.00,2294.16851000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-03-24 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,1679623200000,28253.00,28309.99,28134.86,28186.28,2066.26067000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-03-24 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,1679626800000,28186.28,28237.10,28158.40,28219.98,1572.69903000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-03-24 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,1679630400000,28219.98,28254.48,28102.15,28130.41,2009.41868000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-03-24 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,1681977600000,28869.66,28951.00,28729.00,28826.60,2350.40289000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-04-20 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,1681981200000,28826.61,28909.86,28822.13,28866.00,1363.64624000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-04-20 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,1681984800000,28866.00,28906.50,28778.57,28855.22,1473.59453000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-04-20 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,1681988400000,28855.23,28860.23,28590.00,28607.13,3549.75685000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-04-20 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
720,1681992000000,28607.12,28913.23,28334.00,28885.69,6395.46831000,NaN,NaN,NaN,NaN,...,NaN,NaN,2023-04-20 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [404]:
duplicates = df_sorted.duplicated()
print("Nombre de lignes en double:", duplicates.sum())

Nombre de lignes en double: 0

In [406]:
df_sorted.isna().sum()

timestamp             0
open                 61
high                 61
low                  61
close                61
volume               61
id                  660
order_id            660
price               660
qty                 660
commission          660
commission_asset    660
is_buyer            660
is_maker            660
datetime              0
direction           660
Wallet              660
trade_id            660
trade_number        660
temp_profit         660
profits             660
profits_ratio       660
dtype: int64

In [543]:
premiere_valeur = df.loc[0, 'Wallet']

# Comptage du nombre de trades positifs
nb_trades_positifs = (df['profits'] > 0).sum()
nb_trades_negatifs= (df['profits']< 0).sum()

commission_total=df['commission'].sum()
profit_total = df["profits"].sum()
profit_net=profit_total-commission_total
print('Mise de dÃ©part',premiere_valeur,'$')
print('Total des profit avant commission',profit_total,'$')
print('Total des commission',commission_total,'$')
print('Profit net aprÃ¨s commission',profit_net,"$")

print("Il y a", nb_trades_positifs, "trades positifs dans cette historique.")
print("Il y a", nb_trades_negatifs, "trades negatifs dans cette historique.")
# Calcul de la moyenne des ratios positifs
mean_positive_ratio = df.loc[df['profits_ratio'] > 0, 'profits_ratio'].mean()

# Calcul de la moyenne des ratios nÃ©gatifs
mean_negative_ratio = df.loc[df['profits_ratio'] < 0, 'profits_ratio'].mean()

print('Moyenne des trades positifs:', mean_positive_ratio,'%')
print('Moyenne des trades nÃ©gatifs:', mean_negative_ratio,'%')
# Calculer la date et l'heure du premier et du dernier trade pour chaque trade_id
first_trade = df.groupby('trade_id')['timestamp'].min()
last_trade = df.groupby('trade_id')['timestamp'].max()

# Calculer la durÃ©e de chaque trade
trade_durations = last_trade - first_trade

# Calculer la durÃ©e moyenne d'un trade
mean_trade_duration = trade_durations.mean()

print("La durÃ©e moyenne d'un trade est de :", mean_trade_duration)
# Croissance
# Calculer la diffÃ©rence en jours entre la date actuelle et la date du premier timestamp du dataset
diff_days = (datetime.datetime.now() - pd.to_datetime(df['timestamp'], unit='ms').min()).days


croissance= profit_net/premiere_valeur*100
print('Nous avons une croissance de :',croissance,"% en seulement:",diff_days,"jours")

# Trouver le pire et le meilleur ratio de profit
worst_ratio = df['profits_ratio'].min()
best_ratio = df['profits_ratio'].max()

print("Le plus mauvais trade est :", worst_ratio,"%")
print("Le meilleur trade est :", best_ratio,"%")
# Calculer la sÃ©rie temporelle du portefeuille
df['cumulative_profit'] = df['profits_ratio'].cumsum()

# Trouver le pic de la sÃ©rie temporelle du portefeuille
df['max_cumulative_profit'] = df['cumulative_profit'].cummax()

# Calculer la sÃ©rie temporelle des drawdowns
df['drawdown'] = df['cumulative_profit'] - df['max_cumulative_profit']

# Trouver le pire drawdown
worst_drawdown = df['drawdown'].min()

print("Le pire drawdown est  :", worst_drawdown,"%")

Mise de dÃ©part 893.7354321999999 $
Total des profit avant commission 45.84011519999979 $
Total des commission 13.70401242 $
Profit net aprÃ¨s commission 32.13610277999979 $
Il y a 6 trades positifs dans cette historique.
Il y a 9 trades negatifs dans cette historique.
Moyenne des trades positifs: 1.8077032041583536 %
Moyenne des trades nÃ©gatifs: -0.6194004599274732 %
La durÃ©e moyenne d'un trade est de : 80787846.46666667
Nous avons une croissance de : 3.595706472204448 % en seulement: 27 jours
Le plus mauvais trade est : -1.690026640525967 %
Le meilleur trade est : 5.190094922808464 %
Le pire drawdown est  : -2.426671375611231 %

In [544]:
df_h.to_csv("Hist_btc.csv")
df.to_csv("Hist_trade_btc.csv")
df_sorted.to_csv("Hist_merge_btc.csv")